<form #loginForm="ngForm" (ngSubmit)="login(loginForm)" class="form-signin">
  <main class="form-signin">

    <h1 class="h3 mb-3 fw-normal">Sisteme Giriş</h1>

      <div class="form-floating">
        <input
          type="text"
          #userName="ngModel"
          [(ngModel)]="model.userName"
          class="form-control"
          id="userName"
          name="userName"
          placeholder="Kullanıcı Adı"
          required
          autofocus
        />
        <label for="floatingInput">Kullanıcı Adı</label>
      </div>
      <div class="form-floating">
        <input
          type="password"
          #password="ngModel"
          [(ngModel)]="model.password"
          class="form-control"
          id="password"
          name="userName"
          placeholder="Şifre"
          required
        />
        <label for="floatingPassword">Password</label>
      </div>

      <button class="w-100 btn btn-lg btn-primary" type="submit">Giriş</button>
      <p class="mt-5 mb-3 text-muted">&copy; 2022</p>

  </main>
</form>
